html, body
{
	background: #2a313b;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2
{
	font-size: 30px;
	font-weight: 200;
}

button
{
	outline: none;
}

iframe
{
	width: 77px;
	height: 30px;
	border: none;
}

.about-col
{
	border: 2px solid #60a7a2;
	border-radius: 5px;
	padding: 15px;
	width: 1000px;
	flex-direction: column;
	color: white;
	font-weight: 200;
	margin: 0 auto;
	box-sizing: border-box;
	margin-bottom: 50px;
}

.header
{
	display: flex;
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	justify-content: center;
	align-content: center;
	padding-top: 40px;
	box-sizing: border-box;
}

.header-item
{
	flex: 1;
	font-weight: 200;
	font-size: 16px;
	text-align: center;
}

.header-item a 
{
	text-decoration: none;
	color: white;
}

.header-container
{
	height: 100px;
	background-color: rgb(56, 66, 80);
	color: white;
}

.component-holder 
{
	display: flex;
	flex-direction: column;

}

.container
{
	display: flex;
	justify-content: space-between;
}

.container-width
{
	width: 1000px;
	margin: 0 auto 50px auto;
}

.settingsSection
{
	flex-basis: 30%;
	background-color: #384250;
	padding: 0 10px 10px 10px;
	margin: 15px 0;
	border-radius: 5px;
	color: #ffffff;
}

input[type=text], input[type=number] 
{
	height: 45px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	color: #909090;
	font-weight: 100;
}

.base-button 
{
	background: none;
	border-radius: 5px;
	font-size: 23px;
	padding: 10px 0;
	color: #c5c5c5;
	font-weight: 100;
}

.grey-button
{
	border: 2px solid #c5c5c5;
}

.highlighted-button
{
	border: 2px solid #60a7a2;
}

.resize-button 
{
	width: 1000px;
	height: 55px;
}

.radio-group
{
	display: flex;
	flex-direction: column;
}

.radio-group-row
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.radio-button 
{
	margin-bottom: 15px;
}

.file-output-buttons
{
	flex-basis: 47.5%;
}

.base-flex
{
	flex: 1;
}

.image-flex
{
	flex-basis: 30%;
	margin-right: 11px;
}

.image-container
{
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	overflow-y: auto;
	margin: 0 auto;
	color: white;
	font-weight: 100;
}

.image-container-small
{
	height: 300px;
}

.delete-button
{
	width: 22px;
	height: 22px;
	border-radius: 50%;
	position: relative;
	top: 10px;
	left: 92%;
	cursor: pointer;
	color: #ffffff;
	text-align: center;
	box-sizing: border-box;
	font-size: 22px;
	background: #384250;
}

.file-selector
{
	width: 1000px;
	position: relative;
	overflow: hidden;
	display: inline-flex;
	margin: 0 auto;
}

.file-selector input[type=file] 
{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.file-selector-size
{
	width: 1000px;
	height: 500px;
}

.centered-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.file-selector-icon 
{
	width: 150px;
	height: 150px;
	color: white;
	font-size: 150px;
}

.simple-flex
{
	display: flex;
	flex-direction: column;
}

.margin-bottom-15
{
	margin-bottom: 15px;
}

.input-label
{
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 100;
}

.canvas-holder 
{
	position: absolute;
	visibility: hidden;
}

.drag-drop
{
	color: white;
	font-weight: 200;
	font-size: 37px;
	margin: 25px 0 15px 0;
}

.drag-drop-files
{
	color: white;
	font-weight: 100;
	font-size: 30px;
}